.logo-container {
  display: flex;
  align-items: center;
}

.logo-container__image {
  width: 42px;
  margin: 5px;
}

.logo-container__text {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.4em;
}

#logo-container span {
  color: #fa4b34;
}
